:root {
  --primary-50:  rgb(255, 235, 232);
  --primary-100: rgb(255, 209, 203);
  --primary-200: rgb(252, 171, 160);
  --primary-300: rgb(248, 133, 117);
  --primary-400: rgb(244, 101, 80);
  --primary-500: rgb(240, 80, 57);
  --primary-600: rgb(220, 66, 47);
  --primary-700: rgb(185, 53, 40);
  --primary-800: rgb(148, 42, 32);
  --primary-900: rgb(112, 32, 25);
  --primary-950: rgb(72, 20, 16);

  --secondary-50:  rgb(255, 255, 255);
  --secondary-100: rgb(254, 254, 254);
  --secondary-200: rgb(253, 253, 253);
  --secondary-300: rgb(252, 252, 252);
  --secondary-400: rgb(251, 251, 251);
  --secondary-500: rgb(244, 244, 244);  /* Base neutral gray */
  --secondary-600: rgb(225, 225, 225);
  --secondary-700: rgb(200, 200, 200);
  --secondary-800: rgb(175, 175, 175);
  --secondary-900: rgb(150, 150, 150);
  --secondary-950: rgb(125, 125, 125);

  --black: rgb(30, 30, 30);
  --white: rgb(255, 255, 255);

  --primary-surface-color: var(--white);
  --secondary-surface-color: var(--black);

  --text-color: var(--black);
  --site-bg: var(--white);
}

.app-dark {
  --text-color: var(--white);
  --site-bg: var(--black);
}
