body {
  .p-dialog-mask {
    backdrop-filter: blur(3px);
  }

  .confirmation-dialog {
    max-width: 42rem;
    width: 100%;
    .p-dialog-content {
      padding: 0;
    }
  }

  .p-button-icon-svg {
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: auto;
      max-width: 100%;
      transition: var(--transition-fast);
      &[fill]:not([fill='none']) {
        fill: currentColor;
      }
    }
    &:not(.no-fill) {
      svg {
        [fill]:not([fill='none']) {
          fill: currentColor;
        }
        [stroke]:not([stroke='none']) {
          stroke: currentColor;
        }
      }
    }
  }

  .p-badge {
    padding: var(--p-badge-padding) !important;
    border-radius: var(--p-badge-border-radius) !important;
  }

  .p-toast-message-icon {
    margin-top: -0.1rem;
  }

  .p-select {
    .p-select-dropdown {
      --p-icon-size: 1.3em;
      justify-content: flex-start;
      svg {
        width: var(--p-icon-size);
        [stroke] {
          stroke: var(--text-color);
        }
      }
    }
  }

  .p-floatlabel label {
    font: var(--font-16-b);
    color: var(--p-form-field-placeholder-color);
  }

  .p-inputnumber {
    &.p-inputnumber-horizontal .p-inputnumber-input {
      border-left: 0;
      border-right: 0;
    }

    .p-inputnumber-button-group {
      height: 100%;
      margin: -1px;
    }
  }

  .p-inputotp-input {
    width: auto;
    max-width: 100%;
    min-width: 0;
  }

  .p-invalid {
    color: var(--p-red-600);
  }

  .size-4 {
    min-width: 4rem;
    min-height: 4rem;
    width: 4rem;
    height: 4rem;
  }
}