@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.rotate-animation {
  animation: rotate 1s infinite linear;
}

/*=== fade ===*/
.fade-enter-active,
.fade-leave-active {
  transition: var(--transition-fast);
}

.fade-enter-from {
  opacity: 0;
}

.fade-leave-to {
  opacity: 0;
}
/*=== fade end ===*/

.slide-in-right-enter-active,
.slide-in-right-leave-active {
  transition: var(--transition-fast);
}

.slide-in-right-enter-from {
  opacity: 0;
  transform: translateX(100%);
}

.slide-in-right-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}

.slide-in-left-enter-active,
.slide-in-left-leave-active {
  transition: var(--transition-fast);
}

.slide-in-left-enter-from {
  opacity: 0;
  transform: translateX(-100%);
}

.slide-in-left-leave-to {
  opacity: 0;
  transform: translateX(100%);
}


.route-transition-enter-active,
.route-transition-leave-active {
  transition: var(--page-transition-time);
}

.route-transition-enter-active {
  transition-delay: 350ms;
}

.route-transition-enter-from {
  opacity: 0;
  transform: translateY(10%);
}

.route-transition-leave-to {
  opacity: 0;
  position: absolute !important;
  inset: 0;
  transform: translateY(-10%);
}

.scale-fade-enter-active,
.scale-fade-leave-active {
  transition: var(--transition-fast);
}

.scale-fade-enter-from {
  opacity: 0;
  transform: scale(.9);
}

.scale-fade-leave-to {
  opacity: 0;
  transform: scale(1.1);
}